// Example - index.jade

.haiku
  white-space pre
  font-family 'EB Garamond', serif
  font-size 2em
  font-weight 200
  text-align center
  padding 5px
  border 1px dotted DarkBlue
  margin 5px

.author
  font-weight bold
  text-transform capitalize
  text-decoration overline
  text-align center

.title
  font-size 0.5em
  font-weight 50
  text-transform uppercase
  text-align left
  display block

.metadata
  font-size 0.5em
  font-weight 50
  padding 10px
  text-align center
  padding 1px

  margin 10px 10px

dd.metadata
  text-decoration overline
