// Example - index.jade

.metadata
  font-size 75%
  text-align left

.haiku
  whitespace pre
  font-family 'EB Garamond', serif
  font-size 2em
  font-weight 200
  text-align center
  padding 10px
  border 1px
  margin 1px
  line-height 1.2em

p.author
  padding 1px
  font-size 1em
  font-weight 100
  text-transform uppercase
  text-align right

a:hover
  text-decoration none
  cursor pointer

ul
  font-size 1em
  font-weight 100
  font-style italic
  margin 0
  padding 0
  list-style-type disc
  text-align left
  display block

li
  display inline

a
  padding 2px

