/* Ported from http://www.adamkaplan.me/grid/ */

h1, h2, h3, h4, h5
  font-weight 600
  margin 0

h1
  font-size: 1.3rem
  line-height: 1.3em
  margin-bottom: 1.5rem

@media (min-width: 40rem)
  h1
    font-size 1.5rem

h3
  font-size 1.2rem
  margin-bottom .5rem


h1,h2,h3,h4,h5,h6,p
  line-height 1.45

p
  color #999
  margin 0 auto
  max-width 30rem

blockquote
  margin 0

blockquote p
  color #bbb
  font-style italic
  margin-bottom 1.5rem

cite
  color #bbb

code
  background-color #f8f8f8
  -moz-border-radius 3px
  -webkit-border-radius 3px
  border-radius 3px
  border 1px solid #ddd
  font-family Consolas "Liberation Mono" Courier monospace
  font-size 0.8rem
  padding 0.1rem 0.3rem
  position relative
  top -1px
  white-space nowrap

header
  font-size 2em
  font-weight 200

body
  font-family 'Alegreya Sans', sans-serif
  font-size 18px

