// Initial baseline ported from Adam Kaplan's http://www.adamkaplan.me/grid/

.remove-padding
  padding-bottom: 0

.remove-border
  border: none

.gutters
  border: 2px dashed #eee
  margin-bottom: 2rem
  max-width: 39rem
  padding: 1rem 1rem 0 1rem

  .column
    margin-bottom: 1rem

  span
    display: block
    padding: 1rem 0

// GITHUB GIST

.gist .gist-file
  font-size: .9rem !important
  margin: 0 auto
  max-width: 39rem
  overflow: hidden !important
  text-align: left

  .gist-data
    background: #f8f8f8 !important
    border-bottom: none !important

  .gist-meta
    display: none !important

.gist-syntax .k
  color: #555 !important
  font-weight: normal !important


.rwd
  margin: 0 auto 1.5rem auto
  max-width: 440px

.circle
  border-radius (50%)
  border: 3px solid #555
  color: #555
  display: block
  font-size: 1.7rem
  font-weight: 600
  height: 3.2rem
  line-height: 1.7em
  margin: 0 auto 1rem auto
  text-align: center
  width: 3.2rem
