@import '../../lib/brush'

$base_serif = 'EB Garamond', serif
$base_sans  = 'Alegreya Sans', sans-serif
$base_slab  = 'Roboto Slab', sans-serif
$base_mono  = 'Inconsolata', monospace

body
  background linear-gradient(top, white, black)
  font-family $base_sans
  font-weight 400
  font-style normal

  ul.metadata
    li
      font-style italic
      font-size 75%
      font-weight 300

      a
        text-align right

  .haiku
    whitespace pre
    font-family $base_serif
    font-size 2em
    font-weight 200
    text-align center
    padding 10px
    border 1px
    margin 1px
    line-height 1.2em

  a.author
    padding 1px
    font-size 1em
    font-weight 100
    text-transform uppercase
    text-decoration none
    color brown
    float right

    &:hover
      text-decoration none
      cursor pointer

  ul
    font-size 1em
    font-weight 100
    font-style italic
    margin 0
    padding 0
    list-style-type disc
    text-align left
    display block

    li
      display inline

      a
        padding 2px
