doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="description", content="Print haikus on A4")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title
      | Thinking in Clojure

    // Fonts
    link(rel='stylesheet' type='text/css' href='//cloud.typography.com/8004452/668484/css/fonts.css')

    // Styles
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css')
    link(rel='stylesheet', href='/brush.min.css')
    link(rel='stylesheet', href='/index.min.css')

    // Scripts
    script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js')
    script(src='/brush.min.js')
    script(src='/index.min.js')


  body.container

    .row.clearfix
      .column
        p
        | Clojure is a new dyanmic language based on lisp

      .column
        aside
        | Clojure is a dynamic language


