doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="description", content="Print haikus on A4")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title
      | Brush for Stylus

    // Fonts
    link(rel='stylesheet' href='//brick.a.ssl.fastly.net/EB+Garamond:200, 200i,400,400i')
    link(rel='stylesheet' href='//brick.a.ssl.fastly.net/Alegreya+Sans:400')
    link(rel='stylesheet' href='//brick.a.ssl.fastly.net/Roboto+Slab:100,200,400')
    link(rel='stylesheet' href='//brick.a.ssl.fastly.net/Inconsolata:100,200,400')

    // Styles
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css')
    link(rel='stylesheet', href='/brush.min.css')
    link(rel='stylesheet', href='/index.min.css')

    // Scripts
    script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.1/modernizr.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    script(src='/index.min.js')

  body

    header#container.row
        .column.third
            :markdown
                > a streaming page builder

        .column.two-thirds
          :markdown
            # Brush
            ---

    section#container.row

        .column.third#main
            :markdown
                ### build

                compile, minify, and uglify [Coffee](http://coffeescript.org) [Jade](http://jade-lang.com) & [Stylus](http://learnboost.github.io/stylus/)

                ~
                > gulp build

        .column.third#callout
            :markdown
                ### develop

                build and run a [connect](https://github.com/intesso/connect-livereload) server with [live reload](http://livereload.com)

                ~
                > gulp develop

        .column.third#codeblocks
            :markdown
                ### publish

                publish optimized page to [S3](http://aws.amazon.com/s3/)

                ~
                > gulp publish

    footer.column.flow-opposite.notice
        | soon: layout and typogråphy mixins ¨|
