// TYPE FAMILIES //

base_serif = 'EB Garamond', serif
base_sans  = 'Alegreya Sans', sans-serif
base_slab  = 'Roboto Slab', sans-serif
base_mono  = 'Inconsolata', monospace

// TYPOGRAPHY //

body
  font-weight: 200;
  color: #78786c

p, h1, h2, h3, h4, h5, h6 body
  font-family: base_sans

p
  font-size: 16px;
  font-weight: 100;
  color: #333;
  line-height: 1.6;

.infomap
  font-family: base_serif
  font-weight: 150;

blockquote
  font-family: base_serif
  font-weight: 400i
  font-size: 1.5em

a padding 2px
  &:hover
    text-decoration none
    cursor pointer

.notice
  margin: 2rem 2rem
  font-family: base_slab
  font-weight: 100
  font-style: italic

// LAYOUT //

body
  background-color: #dcdad6

#container
  background-color: #dcdad6
  margin: 10px 10px
  border: 10px 10px
  padding: 10px 10px

  @media screen
    max-width: 1296px

  @media ipad vertical
    max-width: 768px

  @media ipad horizontal
    max-width: 1024px

  @media iphone
    max-width: 640px

  @media screen
    max-width: 1196px

#column.main
    max-width: 490px;
  /* gutters chould be 10px each */

#column.right
    max-width: 390px

#column.left
    max-width: 296px

@media ipad vertical
  #container
    max-width: 768px

  #column.main
    max-width: 380px

  #column.right
    max-width: 338px

@media ipad horizontal
  #container
    max-width: 1024px
  #column.main
    max-width: 594px
  #column.right
    max-width: 400px

@media iphone
  #container
    max-width: 640px
  #column.main
    max-width: 620px
