/* Initial baseline ported from Adam Kaplan's http://www.adamkaplan.me/grid/ */

*, *:before, *:after
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

html
  font 100%/1.5 "Open Sans" sans-serif
  font-weight 400
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased

@media (min-width 40rem)
  html
    font-size 112%

@media (min-width 64rem)
  html
    font-size 120%

body
  background-color #fff
  color #555

.container
  margin 0 auto
  max-width 53rem
  width 90%
