/* Initial baseline ported from Adam Kaplan's http://www.adamkaplan.me/grid/ */

.remove-padding
  padding-bottom 0

.remove-border
  border none

/* Clearfix by Nicolas Gallagher */

.clearfix:before,
.clearfix:after
  content " "
  display table

.clearfix:after
  clear both

.clearfix
  *zoom 1

/* Gist Overrides */

.gist .gist-file
  font-size .9rem !important
  margin 0 auto
  max-width 39rem
  overflow hidden !important
  text-align left

.gist .gist-file .gist-data
  background #f8f8f8 !important
  border-bottom none !important

.gist .gist-file .gist-meta
  display none !important

.gist-syntax .k
  color #555 !important
  font-weight normal !important
